<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="con" connectionString="Data Source = localhost; Initial Catalog = AgendaTest; User ID=#SQLUSER;Password=#SQLPASS"/>
		<add name="conSetUpTest" connectionString="Data Source = localhost; Initial Catalog = Agenda; User ID=#SQLUSER;Password=#SQLPASS" providerName="AgendaTest"/>
	</connectionStrings>
</configuration>