<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=localhost;Initial Catalog=PlutoCodeFirst;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>